@import "tailwindcss";

.bg_img {
  background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1711694351/static/lightpng_1711694345_16780.png);
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  position: relative;
}

.bg_gradient_1 {
  background: linear-gradient(84deg, #1c015d -7.52%, #8045ce 108.41%);
}
